@using System.Net;
@using Helpers
@{
	ViewData["Title"] = "Информация о сервере";

	var os = Environment.OSVersion;
	var serverName = Environment.MachineName;
	IPAddress[] localIPs = Dns.GetHostAddresses(Dns.GetHostName());
	var hostName = Dns.GetHostName();
}

<div>
	<center><h2>Общие сведения о сервере</h2></center>
	<p>Сервер работает под управлением: @os</p>
	<p>Имя сервера: @serverName</p>
	<p>Имя хоста сервера: @hostName</p>
	<p>Адрес сервера: @localIPs[0] / @localIPs[1]</p>
	<p>
		<div id="applications-list" class="server-info">
			<img class="open-button" src="/src/close-circle.png" style="transform: rotate(45deg)"/>
			<span>Развернутые приложения на сервере:</span>
		</div>
		<ul id="apps" style="overflow: hidden; max-height: 0;">
			@Applications.GetApplications()
		</ul>
	</p>

	<p>
		<div id="users-list" class="server-info">
			<img class="open-button" src="/src/close-circle.png" style="transform: rotate(45deg)"/>
			<span>Пользователи на сервере:</span>
		</div>
		
		<ul id="users" style="overflow: hidden; max-height: 0;">
			@Users.GetUsers()
			@if (!Context.User.IsInRole("User")) {
				<li><a data-bs-toggle="modal" data-bs-target="#new-user-modal" style="cursor: pointer">Добавить пользователя...</a></li>
			}
		</ul>
	</p>
</div>

<div class="modal fade" id="new-user-modal" tabindex="-1" aria-labelledby="info-label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="info-label">Добавить нового пользователя</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
			</div>
			<div class="modal-body">
				<form method="post">
					<p>Имя пользователя: <input id="new-user-name" type="text" name="new-user-name" /></p>
					<p>
						Роль пользователя:
						<select id="roles-list">
							@if (Context.User.IsInRole("Admin"))
							{
								<option value="Admin">Admin</option>
							}
							<option value="Manager">Manager</option>
							<option value="User">User</option>
						</select>
					</p>
					<p><span>Новый пароль: </span> <input id="new-pass" type="password" name="new-pass" /></p>
					<p><span>Повторите пароль: </span> <input id="repeat-new-pass" type="password" name="repeat-new-pass" /></p>
					<p id="wrong-pass" style="display: none; color: red;">Пароли не совпадают!</p>
					<button id="approve" class="btn btn-primary" type="submit" onclick="createUser()" disabled>Сохранить изменения</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(".server-info").click(function() {
		$(".open-button").toggleClass("rot");
	});
</script>
<script src="~/js/list-anim.js"></script>
<script src="~/js/users.js"></script>